<!DOCTYPE html>
<!--[if IEMobile 7 ]><html class="no-js iem7"><![endif]-->
<!--[if lt IE 9]><html class="no-js lte-ie8"><![endif]-->
<!--[if (gt IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
  <meta charset="utf-8">

  <title>{% block title %}{% endblock %} - Big Tings</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">

  <link href="{{ url_for('static', filename='stylesheets/screen.css') }}" media="screen, projection" type="text/css" rel="stylesheet">
  </head>
<body>

<header role="banner">
  <header role="banner">
    <hgroup>
      <a href="/" id="super-logo"></a>
    </hgroup>
  </header>
</header>

<nav role="navigation">
  <ul class="subscription">
		{% if not session.logged_in %}
		<li><a href="{{ url_for('login') }}">Login</a></li>
		{% else %}
		<li><a href="{{ url_for('logout') }}">Logout</a></li>
		{% endif %}
  </ul>

  <ul class="main-navigation">
    <li><a href="/">Index</a></li>
		{% if session.logged_in %}
		<li><a href="{{ url_for('add_entry') }}">Add image</a></li>
		{% endif %}
  </ul>
</nav>

<div id="main">
  <div id="content">

<div class="blog-index">
	{% for message in get_flashed_messages() %}
	<div class=flash> {{ message }} </div>
	{% endfor %}
	{% block body %} {% endblock %}
	<!-- div class="pagination">
			<a class="prev" href="/page/2/">&larr; knas</a>
  </div -->
</div>

<aside class="sidebar">
<section>
	<h1 class="aboutpod" id="aboutpod" style="margin-top:0; font-size:11pt; font-weight: normal; text-transform: none; color: #5e5e5e">
		Nyheter
	</h1>
</section>

<section>
	<h3>lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h3>
</section>
</aside>


		</div>
	</div>

	<footer role="contentinfo">
		<p>
			All rights reserved, 2020 - <a href="mailto:admin@bigtings.com">admin@bigtings.com</a>
		</p>
	</footer>

</body>
</html>
